//===============================================
//Inicio Card Item.js
*{
    margin:0px;
    padding:0px;
}

.cardList{
    display:inline-flex;
    width: 100%;
    padding: 1rem;
    margin: 6px 6px 6px 6px;
    text-align: center;
    background-color: white;
    justify-content: center;
}
//Fin Card Item.js

//===========================================

//Inicio Cart.js
.cart{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

ul{
    width: 70%;
    margin-top: 2em;
    list-style: none;
    font-size: 1rem;
}

.cartcontainer{
    border: 2px solid rgb(198, 198, 198);
    width: 100%;
    padding: 1em;
    border-left: none;
    border-right: none;
}

.cartnombre{
    font-weight: bold;
    font-size: 1.5rem;
}

.caracteristicas{
    font: caption;
    margin-top: 1%;
}
// Fin Cart.js

//===========================================

// Inicio ItemCount.js
button{
    margin: 5px 5px 5px 5px;
}
//Fin ItemCount.js

//Inicio ItemDetail.js
img{
    width: 42%;
    height: 25%;
    display: inline-block;
    text-align: left;
}
 
.descripcion{
    display: inline-block;
    margin: 2% 2% 2% 2%;
    
}

.centrarproducto{
    text-align: center;
}

.nombre{
    font-weight: bold;
    font-size: 2rem;
}

.precio{
    font-weight: bold;
    font-size: 1rem;
}
//Fin ItemDetail.js
//===============================================