*{
    margin: 0px;
    padding: 0px;   
}

.redSocial{
    color: white;
    text-align: center; 
    padding:4rem ;
    text-decoration: none;
}

.color1{
    background-color: rgb(60, 134, 168);
}

.list{
    display:inline;
    float: left;
    color: rgb(114, 113, 113);
    padding: 2rem;
    margin: 1rem;
}

.pago{
    display:inline;
    float: right;
    color: black;
    padding: 2rem;
    margin: 1rem;
    
}