$colorPrimario: rgb(1, 165, 1) ;

* {
    margin: 1px;
    padding: 1px;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}

#main-header {
    background-color: $colorPrimario;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    nav {
        a {
            color: black;
            text-decoration: none;
            margin-left: 1rem;
        }
    }
}

main {
    flex-grow: 1;
    padding: 1rem;
}

footer {
    background-color: $colorPrimario;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.8em;
}